.intro-content {
    padding-top:3rem;
    padding-bottom:3rem;
    grid-gap:1rem;
    @media screen and (min-width: 64em) {
        padding-top:0rem;
        padding-bottom:0rem;
        margin-top:-3rem;
    }
    color:$priColor;
    .intro-box {
        margin-bottom:1rem;
        .intro-img {
            height:100%;
            background-color: $secColor;
            @media screen and (min-width: 64em) {
                height:65%;
                background-color: #a9c7dd;
            }
            img {
                width:30%;
            }
        }
        .intro-text {
            .sec-title {
                font-size: 20px;
                margin-bottom:1rem;
                @media screen and (min-width: 64em) {
                    text-align: center;
                    font-size: 30px;
                }
                // line-height: 45px;
            }
            p {
                font-size: 14px;
                @media screen and (min-width: 64em) {
                    text-align: center;
                    font-size: 16px;
                }
                // line-height: 22px;
            }
        }
        @media screen and (min-width: 64em) {
            height:22.625rem;
            // width:23.525rem;
        }
    }
    
}